@import url('https://fonts.googleapis.com/css?family=Space+Mono');
:root {
    --gray: #eee;
    --darkGray: #bdb9b9;
    --black: #000000;
    --orange: #f39c12;
    --bg: #ffd19d
}
* {
    box-sizing: border-box;
}
h1 {
    background-color: var(--bg);
    text-align: center;
    margin: 0;
    padding: 20px;
}
.calculator{
    max-width: 400px;
    background: #eee;
}
.calculator-buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border:0;
}
.calculator-scientific {
    display:grid;
    grid-template-columns: repeat(6,1fr);
    border:0;
}
.calc-numbers{
    font-family: 'Space Mono', serif;
    background: black;
    color: white;
    font-size: 2em;
    border:0;
    padding: 0.3em;
    text-align: right;
    width: 100%;
    height: 100px;
}
.span-2{
    grid-column: span 2;
}
.span-3{
    grid-column: span 3;
}
.btn{
    font-size:1em;
    height: 65px;
    border:1px solid black;
}
.btn:hover{
    background: #fff;
}
.orange{
    background-color:orange;
}
html, body, .wrapper {
    width: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Space Mono', serif;
    /*background: linear-gradient(30deg, #f39c12 30%, #f1c40f);*/
}
.wrapper {
    padding: 1em;
    background: var(--bg);
    display: flex;
}
.wrapper > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: var(--black);
    background-color: var(--gray);
    background-image: none;
    cursor: pointer;
}
.nav_wrap {
    position: relative;
}
.select_wrap {
    position: absolute;
    display: none;
}
.visible {
    display: block;
}
.select {
    background-color: white;
    width: 10em;
    border-radius: .25em;
    overflow: hidden;
    border: 2px solid var(--orange);
}
.navigation {
    max-width:400px;
    background-color: black;
    border-bottom: 1px solid rgba(256, 256, 256, 0.5);
    padding: 5px;
}
.settings {
    width: 20px;
}
.value {
    font-size: 1.2em;
    padding: 4px;
}
.value:hover {
    background-color: var(--gray);
}
.value:active {
    background-color: var(--darkGray);
}
.history_block {
    width: 60%;
    padding: 1em;
}
li {
    list-style-type: none;
    text-align: center;
    background-color: #f39c12;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}